services:
  redis:
    image: "redis:alpine"

  celery-worker:
    image: "colslaue/colslaue_etl:${IMAGE_TAG}"
    command: celery -A workers.tasks worker -l info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis

  celery-beat:
    image: "colslaue/colslaue_etl:${IMAGE_TAG}"
    command: celery -A app beat -l info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis