services:
  redis:
    image: "redis:alpine"

  worker:
    build: .
    command: celery -A workers.tasks worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis

  beat:
    build: .
    command: celery -A app beat -l info
    volumes:
      - .:/app
    depends_on:
      - redis