name: deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_push_image:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.vars.outputs.sha_short }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: login_to_dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: setup_build_vars
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: build_and_push_image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/colslaue_etl:${{ steps.vars.outputs.sha_short }} ./
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/colslaue_etl:${{ steps.vars.outputs.sha_short }}

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: ssh_key_setup
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan ${{ secrets.GCP_IP }} >> ~/.ssh/known_hosts

      - name: deploy
        run: |
          ssh -i ~/.ssh/id_ed25519 "${{ secrets.GCP_USER }}"@"${{ secrets.GCP_IP }}" 'bash -s' <<< '
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
          cd /home/colslaue_etl/colslaue_etl
          git pull origin main
          docker compose pull
          docker compose up -d
          '
