name: tests

on:
  pull_request:
    branches:
      - main

jobs:
  run_pytest:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: install_dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          python -m pip install --upgrade pytest

      - name: run_pytest
        run: pytest --no-tests-found-exit-code=0
